body{
  background-color: gray;
}
.app{
  margin: 0 auto 0 auto;
  padding: 20px 20px 20px 20px;
  position: relative;
  width: 800px;

  background-color: black;
  color: white;

  font-family: 'Open Sans Condensed', sans-serif;
}

h1{
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  margin: 0 0 1em 0
}

h3{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin: 0.5em 0 0.5em 0;
}

.sectionHeader{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin: 0.5em 0 0.5em 0;
}

.currentSong{
  font-size: 24px;
  margin: 1em 0 1em 0
}

button {
  margin: 0 0 0 10px;
  border: 0;
  padding: 0;

  background: transparent;
  color: yellow;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}

button:hover {
  background: white;
  color: black;
}

.addPlaylist {
  display: none;
  background: red;
  color: white;
  height: 32px;
  margin: 0 0 0 10px;

  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.addPlaylistName {
  display: none;
  height: 28px;
  width: 100px;
  margin: 0 0 0 5px;
  border: 0;
  padding: 0;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
}

.button{

  margin: 0 0 0 10px;
  border: 0;
  padding: 0;

  color: yellow;
}